<html>
  <body > 
     <h1><%= title %></h1>
 
  <form enctype="multipart/form-data" method="POST"> 
  
   <input type="text" name="random" /><br>
   <input type="text" name="foo" /><br>

   <input type="file" name="trainingData" />
  <input type="submit" />
  </form>
   </body>
</html>
